<a href="https://colab.research.google.com/github/vkjadon/AjaxAcadPlus/blob/master/tensileStrength.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d fuarresvij/steel-test-data

mkdir: cannot create directory ‘/root/.kaggle’: File exists
steel-test-data.zip: Skipping, found more recently modified local copy (use --force to force download)
unzip:  cannot find or open /content/catvnoncat.zip, /content/catvnoncat.zip.zip or /content/catvnoncat.zip.ZIP.

In [4]:
!unzip /content/steel-test-data.zip -d /content

Archive:  /content/steel-test-data.zip
  inflating: /content/steel_strength.csv

In [32]:
import pandas as pd
pd.set_option('display.max_columns',None)

raw_df = pd.read_csv('steel_strength.csv')

In [33]:
raw_df

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,tensile strength,elongation
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,2473.5,7.0
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,1929.2,8.0
2,Fe0.625Mn0.000102Si0.000200Cr0.0936Ni0.129Mo0....,0.00,0.01,0.01,8.67,13.45,0.82,0.01,0.00,0.01,13.90,0.00,0.39,0.57,1736.3,1871.8,NaN
3,Fe0.634C0.000478Mn0.000523Si0.00102Cr0.000111N...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,15.00,0.00,0.13,1.47,2487.3,2514.9,9.0
4,Fe0.636C0.000474Mn0.000518Si0.00101Cr0.000109N...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,14.90,0.00,0.13,1.55,2249.6,2315.0,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Fe0.823C0.0176Mn0.00183Si0.000198Cr0.0779Ni0.0...,0.38,0.18,0.01,7.27,0.01,3.77,0.96,0.00,0.01,4.90,0.00,0.03,0.00,1722.5,1998.1,5.0
308,Fe0.823Mn0.000618Si0.00101Cr0.0561Ni0.0984Mo0....,0.00,0.06,0.05,5.15,10.20,3.20,0.01,0.00,0.01,0.01,0.00,0.03,0.09,1019.0,1019.0,19.0
309,Fe0.825C0.0174Mn0.00175Si0.000201Cr0.0565Ni0.0...,0.37,0.17,0.01,5.20,0.01,5.84,1.05,0.00,0.91,4.88,0.00,0.03,0.00,1860.3,2156.6,3.0
310,Fe0.858C0.0191Mn0.00194Si0.000199Cr0.0753Ni0.0...,0.41,0.19,0.01,6.99,0.01,5.84,0.92,0.00,0.01,0.02,0.00,0.03,0.00,1812.1,2087.7,2.0
311,Fe0.860C0.0125Mn0.00274Si0.000198Cr0.00439Ni0....,0.27,0.27,0.01,0.41,8.28,0.49,0.07,0.00,0.01,3.90,0.00,0.03,0.00,1139.7,1236.3,15.4

In [34]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   formula           312 non-null    object
 1   c                 312 non-null    float64
 2   mn                312 non-null    float64
 3   si                312 non-null    float64
 4   cr                312 non-null    float64
 5   ni                312 non-null    float64
 6   mo                312 non-null    float64
 7   v                 312 non-null    float64
 8   n                 312 non-null    float64
 9   nb                312 non-null    float64
 10  co                312 non-null    float64
 11  w                 312 non-null    float64
 12  al                312 non-null    float64
 13  ti                312 non-null    float64
 14  yield strength    312 non-null    float64
 15  tensile strength  312 non-null    float64
 16  elongation        303 non-null    float64
dtypes: float64(16), object(1)
memory usage: 41.6+ KB

In [35]:
raw_df.shape

(312, 17)

In [36]:
raw_df.columns

Index(['formula', 'c', 'mn', 'si', 'cr', 'ni', 'mo', 'v', 'n', 'nb', 'co', 'w',
       'al', 'ti', 'yield strength', 'tensile strength', 'elongation'],
      dtype='object')

In [37]:
type(raw_df)

pandas.core.frame.DataFrame

In [ ]:
# Show First Five rows
raw_df.head()

### Fetch ith row
`df.loc[i]`

In [ ]:
raw_df.loc[10]

In [ ]:
raw_df[raw_df['ni']>16]

##Columns of your choice

In [45]:
features=['yield strength', 'tensile strength', 'elongation', 'c', 'mn']
raw_df=raw_df[features]
raw_df

     yield strength  tensile strength  elongation     c    mn
0            2411.5            2473.5         7.0  0.02  0.05
1            1123.1            1929.2         8.0  0.18  0.01
2            1736.3            1871.8         NaN  0.00  0.01
3            2487.3            2514.9         9.0  0.01  0.05
4            2249.6            2315.0         8.5  0.01  0.05
..              ...               ...         ...   ...   ...
307          1722.5            1998.1         5.0  0.38  0.18
308          1019.0            1019.0        19.0  0.00  0.06
309          1860.3            2156.6         3.0  0.37  0.17
310          1812.1            2087.7         2.0  0.41  0.19
311          1139.7            1236.3        15.4  0.27  0.27

[312 rows x 5 columns]

In [47]:
type(raw_df.mn)

pandas.core.series.Series

In [49]:
raw_df.mn>0.1

0      False
1      False
2      False
3      False
4      False
       ...
307     True
308    False
309     True
310     True
311     True
Name: mn, Length: 312, dtype: bool

In [ ]:
raw_df[raw_df["mn"]>0.1]

In [ ]:
raw_df[raw_df.mn>0.1]

`raw_df['Area']` returns Series Object.   
Series can only contain single list with index, whereas dataframe can be made of more than one series

`raw_df[['Area', 'Location']]` returns DataFrame Object
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

**Check for NULL Values**

In [ ]:
raw_df.isna()

In [ ]:
raw_df.isna().sum()

In [ ]:
raw_df.dropna()

In [58]:
raw_df.dtypes

yield strength      float64
tensile strength    float64
elongation          float64
c                   float64
mn                  float64
dtype: object

### df.describe()

- Generate descriptive statistics such as the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.  
- Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.  
- The output will vary depending on what is provided. Refer to the notes below for more detail.  

`DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)`   

For more details <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html" target="_blank">Click here..</a>

In [ ]:
raw_df.describe()

In [ ]:
raw_df[["c", "mn"]].describe()

In [ ]:
raw_df.describe(include='all')

In [ ]:
raw_df.describe(include=[object])

In [63]:
raw_df["c"].mean()

0.09644230769230769

In [65]:
raw_df[["c", "yield strength"]].median()

c                    0.03
yield strength    1344.20
dtype: float64

In [ ]:
raw_df[["c", "yield strength"]].groupby("c").mean()

In [ ]:
raw_df.groupby("c").mean()

We can use the drop parameter to avoid the old index being added as a column.

In [ ]:
raw_df[raw_df['yield strength']>1900].reset_index(drop=False)

In [73]:
raw_df[(raw_df['yield strength']>1700) & (raw_df['c']>0.2)].reset_index(drop=True)

    yield strength  tensile strength  elongation     c    mn
0           1731.7            2232.4         NaN  0.35  0.01
1           1810.0            1970.0        12.2  0.22  0.01
2           1777.6            1954.6        15.6  0.23  0.01
3           1743.5            1925.4        16.8  0.22  0.01
4           1792.1            1991.2        15.0  0.21  0.01
5           1741.8            1933.4        15.6  0.23  0.01
6           1746.6            1945.8        14.8  0.23  0.01
7           1804.2            2010.8        15.9  0.24  0.01
8           1795.5            1991.9        13.4  0.21  0.01
9           1818.0            2022.2        14.4  0.23  0.01
10          1846.5            2177.2         6.0  0.36  0.22
11          1798.3            2135.9         6.0  0.40  0.18
12          1784.5            2129.0         5.0  0.37  0.18
13          1819.0            2135.9         6.0  0.36  0.21
14          1736.3            2039.4         6.0  0.43  0.21
15          1805.2            2101.5         4.0  0.40  0.14
16          1722.5            1998.1         5.0  0.38  0.18
17          1860.3            2156.6         3.0  0.37  0.17
18          1812.1            2087.7         2.0  0.41  0.19

In [74]:
raw_df.c.mean()

0.09644230769230769

In [75]:
[(raw_df['yield strength']>1800) & (raw_df['c']>0.25)]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 307    False
 308    False
 309     True
 310     True
 311    False
 Length: 312, dtype: bool]