<a href="https://colab.research.google.com/github/vkjadon/AjaxAcadPlus/blob/master/tensileStrength.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d fuarresvij/steel-test-data

mkdir: cannot create directory ‘/root/.kaggle’: File exists
steel-test-data.zip: Skipping, found more recently modified local copy (use --force to force download)
unzip:  cannot find or open /content/catvnoncat.zip, /content/catvnoncat.zip.zip or /content/catvnoncat.zip.ZIP.

In [4]:
!unzip /content/steel-test-data.zip -d /content

Archive:  /content/steel-test-data.zip
  inflating: /content/steel_strength.csv

In [32]:
import pandas as pd
pd.set_option('display.max_columns',None)

raw_df = pd.read_csv('steel_strength.csv')

In [ ]:
raw_df

In [ ]:
raw_df.info()

In [35]:
raw_df.shape

(312, 17)

In [ ]:
raw_df.columns

In [ ]:
type(raw_df)

In [ ]:
# Show First Five rows
raw_df.head()

### Fetch ith row
`df.loc[i]`

In [ ]:
raw_df.loc[10]

In [ ]:
raw_df[raw_df['ni']>16]

##Columns of your choice

In [45]:
features=['yield strength', 'tensile strength', 'elongation', 'c', 'mn']
raw_df=raw_df[features]
raw_df

     yield strength  tensile strength  elongation     c    mn
0            2411.5            2473.5         7.0  0.02  0.05
1            1123.1            1929.2         8.0  0.18  0.01
2            1736.3            1871.8         NaN  0.00  0.01
3            2487.3            2514.9         9.0  0.01  0.05
4            2249.6            2315.0         8.5  0.01  0.05
..              ...               ...         ...   ...   ...
307          1722.5            1998.1         5.0  0.38  0.18
308          1019.0            1019.0        19.0  0.00  0.06
309          1860.3            2156.6         3.0  0.37  0.17
310          1812.1            2087.7         2.0  0.41  0.19
311          1139.7            1236.3        15.4  0.27  0.27

[312 rows x 5 columns]

In [47]:
type(raw_df.mn)

pandas.core.series.Series

In [49]:
raw_df.mn>0.1

0      False
1      False
2      False
3      False
4      False
       ...
307     True
308    False
309     True
310     True
311     True
Name: mn, Length: 312, dtype: bool

In [ ]:
raw_df[raw_df["mn"]>0.1]

In [ ]:
raw_df[raw_df.mn>0.1]

`raw_df['Area']` returns Series Object.   
Series can only contain single list with index, whereas dataframe can be made of more than one series

`raw_df[['Area', 'Location']]` returns DataFrame Object
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

**Check for NULL Values**

In [ ]:
raw_df.isna()

In [ ]:
raw_df.isna().sum()

In [ ]:
raw_df.dropna()

In [ ]:
raw_df.dtypes

### df.describe()

- Generate descriptive statistics such as the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.  
- Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.  
- The output will vary depending on what is provided. Refer to the notes below for more detail.  

`DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)`   

For more details <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html" target="_blank">Click here..</a>

In [ ]:
raw_df.describe()

In [ ]:
raw_df[["c", "mn"]].describe()

In [ ]:
raw_df.describe(include='all')

In [63]:
raw_df["c"].mean()

0.09644230769230769

In [65]:
raw_df[["c", "yield strength"]].median()

c                    0.03
yield strength    1344.20
dtype: float64

In [ ]:
raw_df[["c", "yield strength"]].groupby("c").mean()

In [ ]:
raw_df.groupby("c").mean()

We can use the drop parameter to avoid the old index being added as a column.

In [ ]:
raw_df[raw_df['yield strength']>1900].reset_index(drop=False)

In [ ]:
raw_df[(raw_df['yield strength']>1700) & (raw_df['c']>0.2)].reset_index(drop=True)

In [ ]:
raw_df.c.mean()

In [ ]:
[(raw_df['yield strength']>1800) & (raw_df['c']>0.25)]